
.custom-product-name {
  font-family: Forum;
  font-size: 32px;
  font-weight: 400;
  color: #FFE072;
  height: 36px;
  width:153px;
  top: 14px;
  left: 32px;
  line-height: 36px;
}

main.css-1qjjgcu {
  margin-top:68px;
  margin-right:0px;
}