.market-data .MuiDataGrid-root {
  background-color: #141516; /* Dark background for the table */
  color: #eeeeee; /* Light grey text color */
  border: none; /* Remove outer border */
  font-size: 12px; /* Enteries of rows */
  --DataGrid-rowBorderColor: #1d1e20;
  --DataGrid-containerBackground: #141516;
  /* For border b/w rows */
}

/* Main Scrollbar hidden */
&::-webkit-scrollbar { display: none; }

.market-data .MuiDataGrid-scrollbarFiller-filler{
  display: none;
}

.market-data .MuiDataGrid-scrollbar{
  width: 0px;;
}
.market-data MuiDataGrid-cell {
  border: 'none';
}

.market-data .MuiDataGrid-columnSeparator {
  display: none !important;
}

.market-data{
  width: 89vw;
  /* max-width: 100%; */
  overflow-x: auto;
}

/* Columns Filters row */
.market-data .MuiDataGrid-toolbarContainer {
  color: #eeeeee; /* Light color for toolbar text */
  font-size: 2px;
}

/* Columns Filters text color */
.market-data .MuiButtonBase-root {
  color: #ffd56b;
}

.header-name {
  background-color: #1d1e20;
}

.market-data .MuiDataGrid-columnHeaders {
  color: #db2727; /* Not getting applied */
  /* White header text */
  font-weight: bold;
  border: 0px solid #1d1e20; /* Getting applied:Border between header and rows */
}

/* Symbol Price Change insider Header */
.market-data .MuiDataGrid-columnHeaderTitle {
  color: #d9d9d9; /* Light grey color for header text */
  font-size: 14px;
  /* border: none; */
  /* background-color: #00ff00; */
}

.market-data .MuiDataGrid-cell {
  /* border-bottom: 1px solid #1D1E20;  */
  /* Light border between rows */
  border: 0px solid rgb(92, 92, 95); /* Remove border between rows */
}

.market-data .MuiDataGrid-row.Mui-selected {
  background-color: #313437 !important; /* Keep row selected background similar */
}

.market-data .MuiDataGrid-cell--number {
  color: #ffcc19; /* Yellow for numerical values */
  background-color: red;
}

.market-data .MuiDataGrid-cell--buy {
  color: #00ff00; /* Green color for Buy data */
}

.market-data .MuiDataGrid-cell--sell {
  color: #161414; /* Red color for Sell data */
}

/* Customize pagination style */
.market-data .MuiDataGrid-footerContainer {
  background-color: #1d1e20;
  /* Darker footer background */
  color: #b62727 !important;
}

/* .market-data .Mui-selected {
  color: red;
} */
