.market-data .MuiDataGrid-root {
  background-color: #141516; /* Dark background for the table */
  color: #EEEEEE; /* Light grey text color */
  border: none; /* Remove outer border */
}

.market-data .MuiDataGrid-columnHeaders {
  color: #db2727;/* Not getting applied */
  /* White header text */
  font-weight: bold;
  border-bottom: 1px solid #1D1E20; /* Getting applied:Border between header and rows */
}

/* Columns Filters row */
.market-data .MuiDataGrid-toolbarContainer {
  color: #EEEEEE; /* Light color for toolbar text */
}

.header-name{
  background-color: #1D1E20;
  font-size: 200px;/* Not getting applied */
}

/* Name LTP Header insider Header */
.market-data .MuiDataGrid-columnHeaderTitle {
  color: #D9D9D9; /* Light grey color for header text */
  font-size: 14px;
  /* background-color: #00ff00; */
}

.market-data .MuiDataGrid-cell {
  /* border-bottom: 1px solid #1D1E20;  */
  /* Light border between rows */
  border-bottom: none; /* Remove border between rows */
}

.market-data .MuiDataGrid-row:hover {
  background-color: #2727a8; /* Row hover effect */
}

.market-data .MuiDataGrid-row.Mui-selected {
  background-color: #2d2dc4; /* Keep row selected background similar */
}

.market-data .MuiDataGrid-cell--number {
  color: #ffcc19; /* Yellow for numerical values */
  background-color: red;
}

.market-data .MuiDataGrid-cell--buy {
  color: #00ff00; /* Green color for Buy data */
}

.market-data .MuiDataGrid-cell--sell {
  color: #161414; /* Red color for Sell data */
}

/* Customize pagination style */
.market-data .MuiDataGrid-footerContainer {
  background-color: #1D1E20; 
  /* Darker footer background */
  color: #b62727;
}
